@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mood-container {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  text-align: center;
}

.first-row-mood {
  display: flex;
  justify-content: center;
}

.mood {
  background-color: rgb(254, 247, 235);
  margin: 30px 20px;
  border: 1px black solid;
  border-radius: 10px;
  padding: 20px 20px;
  transition: all 200ms ease-in-out;
}

.mood:hover {
  cursor: pointer;
  background-color: #fff;
}

.mood:active {
  transform: translate(0, 0.5rem);
}

.volumeContainer {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bookTitle {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

#book-cover {
  display: flex;
  justify-content: center;
}

#footer {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 30px auto;
}

@media screen and (max-width: 1000px) {
  .mood-container,
  .volumeContainer,
  #footer {
    margin: auto 10px;
  }
}
