@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff;
  background-image: linear-gradient(-45deg, #ffc796 0%, #ff6b95 100%);
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a {
  color: #2f3da8;
  text-decoration: none;
}

a:hover {
  color: rgb(217, 236, 253);
  text-decoration: underline;
}

.mood-container {
  display: flex;
  max-width: 900px;
  flex-direction: column;
  text-align: center;
}

.buttonz {
  background-color: rgb(254, 247, 235);
  margin: 30px 20px;
  border: 1px black solid;
  border-radius: 10px;
  padding: 20px 20px;
  transition: all 200ms ease-in-out;
}

.buttonz:hover {
  cursor: pointer;
  background-color: #fff;
}

.buttonz:active {
  transform: translate(0, 0.5rem);
}

.icon-food-element {
  font-size: 50px;
  background-image: radial-gradient(
    circle at 12.3% 19.3%,
    rgb(85, 88, 218) 0%,
    rgb(95, 209, 249) 100.2%
  );
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.first-row-mood {
  display: flex;
  justify-content: center;
}

.volumeContainer {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.bookTitle {
  display: flex;
  justify-content: center;
  font-size: 2rem;
}

#book-cover {
  display: flex;
  justify-content: center;
}

#footer {
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 30px auto;
}

@media screen and (max-width: 1000px) {
  .mood-container,
  .volumeContainer,
  #footer {
    margin: auto 10px;
  }
}
